@media screen and (max-width:750px){

input, p, label, select{
    position: relative;
    left: 15%;
}

fieldset {
   
    left: 25%;
    max-width: 50%;
}
label{
    display: none;
}
p{
    font-size: x-small;
}
#imprimir, #restablecer{
    display: none;
}
input[type=image]{
    display: inline-block;
}
input[type=text]::placeholder {
    color: gray;
  }
}